h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
    margin-top: 20px;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}