:root {
    // Fonts
    --primary-font: 'Montserrat', sans-serif;
    --additional-font: 'Seymour+One', sans-serif;

    // Colors
    --primary-text-color: #FCFCFC;
    --secondary-text-color: #131313;

}