<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">representation</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__text">cafe</p>
        <div class="location">
          <p class="location__text">Chicago</p>
          <span class="location__text location__text--color"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</span
          >
        </div>
        <ul class="timetable">
          <li class="timetable__item">
            <p class="timetable__text">Monday - Friday</p>
            <time class="timetable__text timetable__text--color"
              >06:00 AM - 10:00 PM</time
            >
          </li>
          <li class="timetable__item">
            <p class="timetable__text">Saturday - Sunday</p>
            <time class="timetable__text timetable__text--color"
              >08:00 AM - 16:00 PM</time
            >
          </li>
        </ul>
        <ul class="liaise">
          <li class="liaise__item">
            <a href="tel:+61(0) 383 766 284" class="liaise__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="liaise__item">
            <a href="mailto:noreply@envato.com" class="liaise__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text contacts__text--width">foodtruck</p>
        <div class="location">
          <p class="location__text">Los Angeles</p>
          <span class="location__text location__text--color"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</span
          >
        </div>
        <ul class="timetable">
          <li class="timetable__item">
            <p class="timetable__text">Monday - Friday</p>
            <time class="timetable__text timetable__text--color"
              >06:00 AM - 10:00 PM</time
            >
          </li>
          <li class="timetable__item">
            <p class="timetable__text">Saturday - Sunday</p>
            <time class="timetable__text timetable__text--color"
              >08:00 AM - 16:00 PM</time
            >
          </li>
        </ul>
        <ul class="liaise">
          <li class="liaise__item">
            <a href="tel:+61(0) 383 766 284" class="liaise__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="liaise__item">
            <a href="mailto:noreply@envato.com" class="liaise__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__text">cafe</p>
        <div class="location">
          <p class="location__text">New York</p>
          <span class="location__text location__text--color"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</span
          >
        </div>
        <ul class="timetable">
          <li class="timetable__item">
            <p class="timetable__text">Monday - Friday</p>
            <time class="timetable__text timetable__text--color"
              >06:00 AM - 10:00 PM</time
            >
          </li>
          <li class="timetable__item">
            <p class="timetable__text">Saturday - Sunday</p>
            <time class="timetable__text timetable__text--color"
              >08:00 AM - 16:00 PM</time
            >
          </li>
        </ul>
        <ul class="liaise">
          <li class="liaise__item">
            <a href="tel:+61(0) 383 766 284" class="liaise__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="liaise__item">
            <a href="mailto:noreply@envato.com" class="liaise__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <button class="button" type="button">Our Locations &#62;</button>
    <button class="button button--color" type="button">Franchise &#62;</button>
  </div>
</section>
