<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="./images/galery/desktop_galery_1_@1x.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/galery/desktop_galery_2_@1x.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/galery/desktop_galery_3_@1x.jpg" alt=""></div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
</div>