<section class="header">
  <div class="container">
    <div class="header__nav">
      <a class="logo" href="#">
        <img srcset="
            ./images/logo/desktop_logo@2x.png 120w,
            ./images/logo/desktop_logo@1x.png  60w,
            ./images/logo/tablet_logo@2x.png   96w,
            ./images/logo/tablet_logo@1x.png   48w,
            ./images/logo/mobile_logo@2x.png   80w,
            ./images/logo/mobile_logo.png      40w
          " src="./images/logo/mobile_logo.png"
          sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, (max-width: 767px) 40px, 100vw" alt="логотип" />
      </a>

      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="#Home" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#How it’s made?" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="#Our products" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="#Contact" class="site-nav__link">Contact</a>
        </li>
      </ul>

      <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle__icon" width="32" height="32">
          <use href="./images/icons.svg#burger"></use>
        </svg>
      </button>

      <button class="button" type="button">
        Buy now <svg class="button__icon" width="6" height="9">
          <use href="./images/icons.svg#button_vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- mobile menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__icon" width="32" height="32">
      <use href="./images/icons.svg#modal-close"></use>
    </svg>
  </button>

  <a class="logo" href="#">
    <img srcset="
        ./images/logo/tablet_logo@2x.png 96w,
        ./images/logo/tablet_logo@1x.png 48w,
        ./images/logo/mobile_logo@2x.png 80w,
        ./images/logo/mobile_logo.png    40w
      " src="./images/logo/mobile_logo.png" sizes="(min-width: 321px) 48px, (max-width: 320px) 40px, 100vw"
      alt="логотип" />
  </a>

  <ul class="mobile-menu">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__link">Contact</a>
    </li>
  </ul>

  <button class="button button--menu" type="button">
    Buy now
  </button>
</div>