<section class="hero">
    <div class="hero_container container">

        <div class="hero_sides">
            <div class="hero_left-side">

                <h1 class="hero_title">ice cream made with passion</h1>
                <ul class=" hero_list-buttn ">
                    <li class="hero_list-item--buttn"><button class="hero_buttn-product" type="button">Products</button>
                    </li>
                    <li class="hero_list-item--buttn"><button class="hero_buttn-made" type="button">How it’s
                            made?</button>
                    </li>
                </ul>
            </div>

            <div class="hero_right-side">
                <ul class="hero_list-cafes">
                    <li class="hero_list-item">
                        <p class="hero_list-quantities"> 16</p>
                        <p class="hero_list-text"> cafes</p>
                    </li>
                    <li class="hero_list-item">
                        <p class="hero_list-quantities">23</p>
                        <p class="hero_list-text">food brucks</p>
                    </li>
                </ul>
            </div>

        </div>


        <div class="hero_bottom-side">
            <picture>
                <source media="(min-width: 1200px)"
                    srcset="./images/hero/many-icecream/desktop-many-icecream@1x.png 1x, ./images/hero/many-icecream/desktop-many-icecream@2x.png 2x" />
                <source media="(min-width: 768px)"
                    srcset="./images/hero/many-icecream/tablet-many-icecream@1x.png 1x, ./images/hero/many-icecream/tablet-many-icecream@2x.png 2x" />
                <img class="hero_image-plate" src="./images/hero/many-icecream/tablet-many-icecream@1x.png"
                    alt="many ice-cream" loading="lazy" />
            </picture>


            <div>
                <p class="hero_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et
                </p>
                <a class="hero_link link" href="#" target="_blank" rel="nofollow noopener noreferrer">
                    <svg class="hero_arrow" width="40" height="40">
                        <use href="./images/icons.svg#arrow"></use>
                    </svg>
                </a>
            </div>

        </div>

        <ul class="hero_list-images">
            <li>
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/ice-cream/desktop_ice-cream@1x.png 1x, ./images/ice-cream/desktop_ice-cream@2x.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/ice-cream/tablet_ice-cream@1x.png 1x, ./images/ice-cream/tablet_ice-cream@2x.png 2x" />
                    <img class="hero_image-icecream" src="./images/ice-cream/mobile_ice-cream@1x.png" alt="icecream"
                        loading="lazy" />
                </picture>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="./images/hero/dots/desktop-dots@1x.png 1x, ./images/hero/dots/desktop-dots@2x.png 2x" />
                    <source media="(min-width: 768px)"
                        srcset="./images/hero/dots/tablet-dots@1x.png 1x, ./images/hero/dots/tablet-dots@2x.png 2x" />
                    <img class="hero_image-drops" src="./images/hero/dots/mobile-dots@1x.png" alt="dots">
                </picture>
            </li>
        </ul>





    </div>




</section>