.contacts {
  background-color: var(--primary-bg);
  position: relative;

  &__item {
    display: block;
    width: 280px;
    height: 412px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    padding-top: 40px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;

    border-radius: 24px;
    background-color: var(--secondary-bg);
    box-shadow: var(--prod-cont-cards-shadow);
  }

  &__item:nth-child(2) {
    margin-top: 75px;
  }

  &__item:last-child {
    margin-bottom: 20px;
  }
  &__item:first-child {
    position: absolute;
    top: -353px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__text {
    width: 80px;
    height: 22px;
    margin-bottom: 20px;

    padding-top: 4px;
    padding-bottom: 4px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    color: var(--secondary-text);
    background-color: var(--accent);
    border-radius: 4px;
  }

  &__text--width {
    width: 130px;
  }
}

.location {
  margin-bottom: 24px;

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);

    color: var(--secondary-text);
  }

  &__text {
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }

  &__text--color {
    color: var(--third-prod-bg);
  }
}

.timetable {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--dividing-line);

  &__item:first-child {
    margin-bottom: 8px;
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22 / 12);

    color: var(--secondary-text);
  }
  &__text--color {
    color: var(--btn-bg-disabled);
  }
}

.liaise {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--dividing-line);

  &__mail,
  &__tel {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(19 / 12);

    color: var(--secondary-text);
  }

  &__item:first-child {
    margin-bottom: 6px;
  }
}

/* button */

.button {
  display: block;
  width: 196px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid var(--btn-bg);
  border-radius: 10px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  color: var(--secondary-text);
  background-color: var(--btn-bg);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--btn-bg-hover);
    border: 2px solid var(--btn-bg-hover);
  }

  &:visited {
    background-color: var(--btn-bg-disabled);
    border: 2px solid var(--btn-bg-disabled);
  }
  &--color {
    margin-bottom: 0px;
    background-color: transparent;
  }
}
