.container {
    margin: 0 auto;
    padding: 0 16px;

    // mobile
    @media screen and (min-width: $mobile) {
        width: 320px;
    }

    // tablet
    @media screen and (min-width: $tablet) {
        width: 768px;
    }

    // desktop

    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}