.footer {
  background-color: var(--primary-bg);

  &__list {
    padding-bottom: 60px;

    @media screen and (min-width: $tablet) {
      padding-bottom: 0;
    }
  }

  &__item:first-child {
    margin-bottom: 16px;
    padding-left: 2px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
      padding-left: 0px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 16px;
    }
  }
  &__text {
    display: block;
    width: 232px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0em;

    text-transform: uppercase;

    color: var(--secondary-bg);

    @media screen and (min-width: $tablet) {
      width: 352px;

      font-size: 26px;
      line-height: calc(32 / 26);
    }

    @media screen and (min-width: $desktop) {
      width: 504px;

      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }
  &__text--size {
    font-size: 34px;
    line-height: calc(41 / 34);

    @media screen and (min-width: $tablet) {
      font-size: 48px;
      line-height: calc(59 / 48);
      letter-spacing: 0.06em;
    }

    @media screen and (min-width: $desktop) {
      font-size: 58px;
      line-height: calc(71 / 58);
      letter-spacing: 0.06em;
    }
  }
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding-left: 33px;
    padding-right: 32px;
    padding-top: 32px;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
  }
}

.social {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 34px;
    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 40px;
  }

  &__item:first-child {
    margin-left: auto;
  }
  &__link {
    color: var(--primary-bg);
  }

  &__link:hover,
  &__link:focus {
    color: var(--secondary-bg);
  }

  &__icon {
    fill: currentColor;
  }
}

.footer-wrap {
  text-align: right;

  font-weight: 700;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0em;

  @media screen and (min-width: $tablet) {
    margin-top: 61px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 18px;
  }

  &__text {
    color: var(--secondary-text);
  }

  &__tel {
    color: var(--secondary-bg);
  }
}

.publishing {
  padding: 20px;
  border-top: 1px solid var(--dividing-line);
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);

  color: #7a7a7a;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    padding: 12px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0 16px;
  }

  &__text--uppercase {
    text-transform: uppercase;
  }
  &__text--capitalize {
    text-transform: capitalize;
  }
}
